<header class="aw-header" id="aw-break-js">
  <section>
    <h1 i18n itemprop="name" class="padding-16 aw-header-info-js aw-fat aw-center">
      Aesthetics Workout
    </h1>
    <h1 i18n class="padding-16 aw-header-info-js aw-center">
      Just have to lift
    </h1>
    <a itemprop="downloadUrl" [href]="app.android.link" class="btn aw-btn-light light aw-header-info-js"
      target="_blank" rel="noopener">
      <i class="mdi mdi-android" area-hidden="true"></i><ng-container i18n>Download</ng-container>
    </a>
  </section>
  <nav class="aw-nav-bar">
    <span class="aw-nav-button" id="button-menu"><i class="mdi mdi-menu" area-hidden="true"></i></span>
    <div class="aw-nav-bar-logo aw-menu-item-break-js">
      <img src="/favicon.ico" i18n-alt="Logo" />
    </div>
    <div class="aw-large-app-bar">
      <ul>
        <li class="aw-menu-item-icon aw-menu-item-break-js">
          <a href="#">
            <img src="/favicon.ico" i18n-alt="Logo" />
          </a>
        </li>
        <li><a href="#app" i18n>App</a></li>
        <li><a href="#follow" i18n>Social networks</a></li>
        <li><a href="#contact" i18n>Contact me</a></li>
        <li class="aw-menu-item-sub-menu">
          <span class="aw-menu-item" i18n>Language</span>
          <ul>
            <li><a href="/">English</a></li>
            <li><a href="/fr">Français</a></li>
            <li><a href="/es">Spanish</a></li>
          </ul>
        </li>
        <li class="aw-menu-item-break-js">
          <span class="aw-menu-item aw-hover-none aw-center">
            <a [href]="app.android.link" target="_blank" class="aw-btn aw-btn-light" rel="noopener" i18n>
              Download
            </a>
          </span>
        </li>
      </ul>
    </div>
  </nav>
</header>
