<section class="aw-section" id="app" itemprop="description">
  <div class="aw-constrained">
    <div class="aw-layout" id="offer-content">
      <h1 class="aw-s-12 margin-bottom-16 m-margin-bottom-32" i18n>
        3 solutions in 1 <strong>application</strong><br />
        for <strong>fitness</strong>, <strong>musculation</strong>
        and <strong>CrossFit</strong>
      </h1>
      <article class="aw-s-12 aw-m-6 aw-l-4 margin-top-32">
        <h2 i18n>Your <strong>training log</strong></h2>
        <div class="margin-top-16"><span class="aw-img-icon material-symbols-outlined" area-hidden="true">menu_book</span></div>
        <h3 class="padding-left-8 padding-right-8" i18n>
          Register your <strong>plan</strong> and save your
          <strong>performances</strong> easly, by enjoying your workout.
        </h3>
      </article>
      <article class="aw-s-12 aw-m-6 aw-l-4 margin-top-32">
        <h2 i18n>Your <strong>chronometer</strong></h2>
        <div class="margin-top-16"><span class="aw-img-icon material-symbols-outlined" area-hidden="true">timer</span></div>
        <h3 class="padding-left-8 padding-right-8" i18n>
          Start your <strong>timer</strong>, put down your
          phone and rest quietly.
        </h3>
      </article>
      <article class="aw-s-12 aw-m-6 aw-l-4 margin-top-32">
        <h2 i18n>Your computer</h2>
        <div class="margin-top-16"><span class="aw-img-icon material-symbols-outlined" area-hidden="true">laptop_windows</span></div>
        <h3 class="padding-left-8 padding-right-8" i18n>
          Leave the <strong>spreadsheet</strong> and visualize
          quickly your <strong>progress</strong> since the last <strong>workout</strong>.
        </h3>
      </article>
    </div>
  </div>
</section>
<section class="aw-section aw-full" id="follow">
  <div class="aw-constrained">
    <div class="aw-layout" id="follow-content">
      <h1 class="aw-s-12 aw-m-6 s-margin-bottom-16" i18n>Follow news about the application</h1>
      <ul class="aw-s-12 aw-m-6 aw-social">
        <li id="i-facebook">
          <a href="https://www.facebook.com/AestheticsWorkoutApp/" target="_blank" title="Facebook" rel="noopener"
            area-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" width="90" height="90" viewBox="0 0 24 24">
              <rect fill="none" height="24" width="24"/>
              <path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="contact-section" class="aw-section">
  <div class="aw-constrained">
    <div class="aw-layout" id="contact-container">
      <div class="aw-s-12 aw-l-6" id="contact-info">
        <div class="aw-s-12 aw-m-6 aw-l-12 margin-bottom-16">
          <h1 class="padding-16" i18n>Questions? Suggestions? Contact me!</h1>
        </div>
        <div class="aw-s-12 aw-m-6 aw-l-12  margin-bottom-32 l-margin-bottom-16 aw-img-container">
          <img src="/image/github.svg" i18n-alt alt="GitHub logo" />
        </div>
      </div>
      <div class="aw-s-12 aw-l-6 aw-center-vertical">
        <a href="https://github.com/Aesthetics-App/website/issues" target="_blank" class="aw-issue-link" i18n>
          Create an issue on GitHub
        </a>
      </div>
    </div>
  </div>
</section>
