$small-size: 600px;
$over-small-size: 601px; 
$medium-size: 900px;
$over-medium-size: 901px;
$large-size: 1280px;
$over-large-size: 1281px;
$x-large-size: 1600px;
$over-x-large-size: 1601px;

$color-accent: #F44336;
$color-accent-focussed: #FA554A;
$color-accent-pressed: #F9685E;
$color-primary: #607D8B;
$color-primary-dark: #455A64;
$dark-primary-text: rgba(0, 0, 0, 0.87);
$dark-secondary-text: rgba(0, 0, 0, 0.65);

$short-duration: 250ms;
$x-long-duration: 1s;

$app-bar-height-small: 60px;

$green: #4CAF50;
$red: $color-accent;